/data/bot.log
/func_test.py
/data/timer_log.txt
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/video/output.avi
/.idea/modules.xml
/.idea/misc.xml
/.idea/demo1.iml
/video/demo.MP4
/config.py
